<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>DobbleCSP</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!--   <link rel="stylesheet" href="style.css"> -->
<!--   <script src="script.js"></script> -->
</head>
<body>
	<h1 class = "container offset-3">Dobble CSP Web Application : New Game !</h1>
	<h2 class = "offset-5"> Paramètres du jeu : </h2>
	<div class = "container">
	<div class="row pt-2 offset-5">
	<form  id="dobblecspparam" method="post">
            <div class="form-label-group">
           	<label for="port">Nombre de cartes : </label>
	        <input type="number" id="nbcartes" name="nbcartes" placeholder="Nombre de cartes" min="2" class="form-control" required>
	    	</div>
         <div class="form-label-group">
           	<label for="port">Nombre de symboles : </label>
	       	<input type="number" id="nbsymboles" name="nbsymboles" placeholder="Nombre de symboles" min="3" class="form-control" required>
    	</div>
        <div class="form-label-group">
         	<label for="port">Nombre de symboles par carte : </label>
	        <input type="number" id="nbsymbparcartes" name="nbsymbparcartes" placeholder="Nombre de symboles par carte" min="2" class="form-control" required>
    	</div>
	   	<div class="row pt-2">
	  		<div class="col"><input type="submit" class="btn btn-info" value="Valider" style="float:right;"></div>
	  		<div class="col"><input type="reset" class="btn btn-danger" value="Annuler"></div>  		  
	   	</div> 
	</form> 
	</div>
	</div>
</body>
</html>