<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DobbleCSP</title>
</head>
<body>
	<h1>Dobble CSP Web Application</h1>

	<h2>Une erreur est survenue...</h2>
	<h4>Peut-être que les paramètres renseignés ne permettent pas de créer le jeu :(</h4>
	<p>
		<a th:href="@{/}" th:text="'Rejouer ?'"></a>
	<p>
</body>
</html>