<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>DobbleCSP</title>
<!--   <link rel="stylesheet" href="style.css"> -->
<!--   <script src="script.js"></script> -->
</head>
<body>
	<h1>Dobble CSP Web Application : test cartes</h1>
	<h2>Result output : </h2>
	
	<ul>
		<li th:each="carte : ${results}"> <span th:text="'Carte numéro : ' + ${carte.numero}"></span>
			<ul>
				<li th:each="s : ${carte.symboles}" th:text="${s}">sub item 1</li>
			</ul>
		</li>
	</ul>
</body>
</html>