<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DobbleCSP</title>
</head>
<body>
	<h1>Dobble CSP Web Application</h1>

	<h2>Bravo vous avez terminé le jeu !</h2>
	<p>
		<a th:href="@{/}" th:text="'Rejouer ?'"></a>
	<p>
</body>
</html>