<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>DobbleCSP</title>
<!--   <link rel="stylesheet" href="style.css"> -->
<!--   <script src="script.js"></script> -->
</head>
<body>
	<h1>Dobble CSP Web Application</h1>
	
	<h2> Temps expiré ! Désolé mais vous avez échoué...</h2>
	<p><a th:href="@{/}" th:text="'Rejouer ?'"></a><p>
</body>
</html>