#conteneurCarte {
	display: flex;
	flex-wrap: wrap;
}

.buttonSymb:active {
	background-color: #546866;
}

html, body {
	height: 100%;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#progress-bar {
	width: 0;
	background: #0392CF;
	text-align: center;
}

#percent {
	color: #FCE8DB;
}