<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DobbleCSP</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{//code.jquery.com/jquery.min.js}"></script>

<script
	th:src="@{js/jquery-3.3.1.min.js}"></script>
<script th:src="@{js/timer.js}"></script>
</head>
<body>

	<h1>Dobble CSP Web Application</h1>
	<div id="progress-bar">
		<div id="percent"></div>
	</div>

	<div th:if="${session.cartePile}">
		<h2>Carte sur la pile :</h2>
		<div id="conteneurCarte">
			<div th:each="s : ${session.cartePile.symboles}">
				<img th:id="${s.numero}" th:src="@{'/img/' + ${s.numero} + '.png'}"
					th:title="${s.numero}" th:alt="${s.numero}">
			</div>
		</div>
	</div>
	
	<div th:if="${session.carteJoueur}">
		<h2>Carte du joueur :</h2>
		<div id="conteneurCarte">
			<div th:id="${s.numero}" class=buttonSymb
				th:each="s : ${session.carteJoueur.symboles}">
				<img th:id="${s.numero}" th:src="@{'/img/' + ${s.numero} + '.png'}"
					th:title="${s.numero}" th:alt="${s.numero}">
			</div>
		</div>
	</div>
</body>
</html>