<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>DobbleCSP</title>
<!--   <link rel="stylesheet" href="style.css"> -->
<!--   <script src="script.js"></script> -->
</head>
<body>
	<h1>Reset page ! </h1>
	<p><a th:href="@{/generate}" th:text="'Rejouer ?'"></a><p>
	<div th:if="${session.cartePile}"><h2>Carte sur la pile : </h2>
		<ul >
			<li> <span th:text="'Carte numéro : ' + ${session.cartePile.numero}"></span>
				<ul>
					<li th:each="s : ${session.cartePile.symboles}" th:text="${s}">sub item 1</li>
				</ul>
			</li>
		</ul>
	</div>
	
	<div th:if="${session.carteJoueur}"><h2>Carte du joueur : </h2>
		<ul>
			<li> <span th:text="'Carte joueur numéro : ' + ${session.carteJoueur.numero}"></span>
				<ul>
					<li th:each="s : ${session.carteJoueur.symboles}" th:text="${s}">sub item 1</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>