<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>DobbleCSP</title>
<!--   <link rel="stylesheet" href="style.css"> -->
<!--   <script src="script.js"></script> -->
</head>
<body>
	<h1>Dobble CSP Web Application : test symboles</h1>
	<h2>Result output : </h2>
<!-- 	<p th:if="${result}" th:text="${result}">Result output content</p> -->

	<ul th:each="result : ${results}">
		<li th:text="${result}"/>
	</ul>
</body>
</html>