<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>DobbleCSP</title>
<!--   <link rel="stylesheet" href="style.css"> -->
<!--   <script src="script.js"></script> -->
</head>
<body>
	<h1>Dobble CSP Web Application</h1>
	
	<div> <h2>La pile de cartes : </h2>
		<ul>
			<li> <span th:text="'Carte numéro : ' + ${CARTEPILE.numero}"></span>
				<ul>
					<li th:each="s : ${CARTEPILE.symboles}" th:text="${s}">sub item 1</li>
				</ul>
			</li>
		</ul>
	</div>
	
	<div><h2>Carte du joueur : </h2>
		<ul>
			<li> <span th:text="'Carte joueur numéro : ' + ${CARTE_JOUEUR.numero}"></span>
				<ul>
					<li th:each="s : ${CARTE_JOUEUR.symboles}" th:text="${s}">sub item 1</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>